* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --light-bg: #F9F4FB;
    --title-color: #B52184;
    --text-color: #312D64;
    --container-bg: #FFF;
    --gradient-br: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
}

body {
    font-family: 'Mulish', sans-serif;
}

section {
    background: var(--light-bg);

    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 {
    margin-top: 1.7rem;

    color: var(--title-color);
    font-size: 3.2rem;
    font-weight: 900;
}

section p {
    margin-bottom: 3.5rem;

    color: var(--text-color);
    font-size: 2.0rem;
    font-weight: 600;
}

#arrow {
    margin-bottom: 9.3rem;
}

main {
    padding: 0 5rem;

    background: var(--gradient-br);

    display: grid;
    grid-template-rows: repeat(3);
    gap: 5rem;
}

.container {
    padding: 2.6rem;
    border-radius: 2.0rem;

    background: var(--container-bg);
}

main .container:first-of-type {
    margin-top: 5.0rem;
}

main .container:last-of-type {
    margin-bottom: 5.0rem;
}

.container h2 {
    margin: 3.3rem 0 2.0rem 0;

    color: var(--title-color);
    font-size: 2.9rem;
    font-weight: 900;
}

.container p {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 600;
}

form {
    padding: 8rem 4rem 6.5rem;

    background: var(--light-bg);
}

form h2{
    color: var(--title-color);
    font-size: 3.2rem;
    font-weight: 900;
}

footer {
    padding: 3.0rem;

    background: var(--gradient-br);
    color: var(--light-bg);
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
}